* {
  margin: 0;
  padding-right: 2px;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  height: 100%;
}

#li,
ul {
  color: white;
  text-decoration: none;
}

#a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  color: deeppink;
}

.child1 {
  background-color: saddlebrown;
  color: whitesmoke;
}

p {
  color: saddlebrown;
}

.child2 {
  color: saddlebrown;
}

.child3 {
  color: whitesmoke;
  background-color: saddlebrown;
  display: inline-block;
}

.child4 {
  color: saddlebrown;
  background-color: whitesmoke;
  display: inline-block;
}

.child5 {
  color: whitesmoke;
  background-color: saddlebrown;
  display: inline-block;
}

.container {
  position: relative;
}

.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive Adjustments */
@media only screen and (max-width: 768px) {
  .child3,
  .child4,
  .child5 {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .child1,
  .child2 {
    font-size: 14px;
  }

  .child3,
  .child4,
  .child5 {
    font-size: 14px;
    padding: 10px;
  }
}
